h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(71, 67, 62);
    text-align: center;
}

#result {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(71, 67, 62);
    font-size: 16px;
}

#contactMe {
   margin: auto;
   padding: 20px;
   width: 50%;
   box-shadow: 1px 1px 15px rgb(71, 67, 62);


}

.inputElement {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px inset rgb(23, 28, 52);
    border-radius: 4px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    background-color: rgba(71, 67, 62, 0.2);
    color: black;
}

label {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    
}

#message {
    height: 175px;
    resize: none;
}
#submit {
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgb(30, 51, 96);
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
}

#submit:hover {
    background-color: rgb(48, 72, 128);
    cursor: pointer;
}

@media screen and (max-width:800px) {
    #contactMe {
        width: 95%;
    }
}